.answers label {
  display: block;
}

.light-blue {
     background-color: lightblue;
   }

#submit, #button {
  font-family: sans-serif;
  font-size: 20px;
  background-color: #279;
  color: #fff;
  border: 0px;
  border-radius: 3px;
  padding: 20px;
  cursor: pointer;
  margin-bottom: 20px;
}

#submit, #button :hover {
  background-color: #38a;
}

.question {
  font-weight: 580;
}

.answers {
  margin-bottom: 20px;
}
